__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.idea/
.vscode/
*.mp4
*.gif
*.avi
*.mov
*.png
*.pdf
*.svg
*.npz
*.npy
*.pkl
*.pickle
*.json
RUN_ONLINE_*/
outputs/
results/*
figures/
logs/
wandb/
!embmpc/tracks/src/ethz_raceline_.npz
!embmpc/tracks/src/ethz_raceline_long_.npz
!embmpc/tracks/src/ethzMobil_raceline_long_.npz
!results/README.md
